include CONTRIBUTING.md
include LICENSE
include README.md

recursive-include netbox_circuitmaintenance/templates *
recursive-include netbox_circuitmaintenance/api *

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-exclude parsers/*

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
