{% extends 'generic/object.html' %}
{% load maintenance_filters %}

{% block content %}
<div class="card">
    <h5 class="card-header">Notification Email</h5>
    <div class="card-body">
        <table class="table table-hover attr-table">
            <tr>
                <th scope="row">Subject</th>
                <td>{{ object.subject }}</td>
            </tr>
            <tr>
                <th scope="row">From</th>
                <td>{{ object.email_from }}</td>
            </tr>
            <tr>
                <th scope="row">Received</th>
                <td>{{ object.email_received }}</td>
            </tr>
            <tr>
                <th scope="row">Maintenance</th>
                <td><a href="{{ object.circuitmaintenance.get_absolute_url }}">{{ object.circuitmaintenance }}</a></td>
            </tr>
        </table>
    </div>
</div>
<div class="card mt-3">
    <h5 class="card-header">Email Body</h5>
    <div class="card-body">
        {{ object.email_body|sanitize_html }}
    </div>
</div>
{% endblock content %}
