{% load helpers %}

<div class="card">
<h5 class="card-header">
    Active / Upcoming Circuit Maintenances
</h5>

{% if circuitmaintenance %}
<div class="table-responsive">
    <table class="table table-hover object-list">
        <thead>
        <tr>
            <th class="orderable">Maintenance ID</th>
            <th class="orderable">Start</th>
            <th class="orderable">End</th>
            <th class="orderable">Status</th>
            <th class="orderable">Circuit ID</th>
            <th class="orderable">Impact</th>
        </tr>
    </thead>
        {% for maintenance in circuitmaintenance %}
        <tr>
            <td>{{maintenance.circuitmaintenance|linkify}}</td>
            <td>{{maintenance.circuitmaintenance.start}}</td>
            <td>{{maintenance.circuitmaintenance.end}}</td>
            <td>{% badge maintenance.circuitmaintenance.get_status_display bg_color=maintenance.circuitmaintenance.get_status_color %}</td>
            <td>{{maintenance.circuit|linkify}}</td>
            <td>{% badge maintenance.get_impact_display bg_color=maintenance.get_impact_color %}</td>
        </tr>
        {% endfor %}
    </table>
</div>
    {% else %}
    <div class="card-body">
        <div class="text-muted">
            None
        </div>
    </div>
    {% endif %}
    </div>
